@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap');
html{
    font-family: 'Titillium Web';
    height: 100%;
}
body{
    padding: 2% 10%;
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    width: 70%;
    color: white;
    border: 1px solid red;
}
.image{
    width: 70%;
    margin: 2%;
    border: 1px solid red;
}
.content{
    width: 70%;
    color: white;
    border: 1px solid red;
}