@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap');
html{
    font-family: 'Titillium Web';
    font-size: 55%;
    color: white;
}
body{
    padding: 2% 10%;
    background-color: black;
}
header{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}
.Logo{
    width: 250px;
    height: 130px;
    margin-right: 2.1em;
}
.imgLogo{
    width: 100%;
    height: 100%;
}
.Row1{
    display: inline-flex;
    margin-bottom: 1.5em;
    gap: 12px;
    float: right;
    align-items: center;
}
.Row1 h2{
    font-size: 17px;
}
.Row1 >h2:not(.last){
    border-right: 0.5px solid;
    border-color: white;
    padding-right:  0.5em;
}
.Row1 > img{
    height: 25px;
    width: 25px;
}
.searchBar{
    display: flex;
    background-color: rgb(51,51,51);
    padding: 0.8em;
}
.searchBar img{
    height: 25px;
    width: 25px;
}
.searchBar>input{
    background-color: rgb(51,51,51);
    border: 0px;
    color:white;
}
.imageButton{
    background: url(/Images/admin.png);
    height: 5rem;
    width: 5rem;
}
.Row2{
    display: inline-flex;
    gap: 12px;
    background-color: grey;
    padding: 0em 1.25em; 
}
.Row2 > h2:not(.last){
    border-right: 0.5px solid;
    border-color: white;
    padding-right: 0.5em;
}
.Grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px
}
.Grid > div{
    height: 250px;
}
.largeImage{
    position: absolute;
    background-image: url("Images/img1.png");
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: none;
}
.carousell{
    grid-row: 1;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    height: 100%;
}
.small1{
    grid-row: 2;
    background-color: rgb(57, 113, 158);
    color: rgb(255,255,255);
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}
.small1Up{
    margin: 0.5em;
    margin-bottom: 2em;
}
.small1Down{
    margin: 0.5em;
    bottom:0;
}
.small1DownText p{
    margin-top: 0;
    margin-bottom: 0;
}
.small1DownText{
    margin-left: 2em;
    display: flex;
    gap: 4em;
}
.line{
    height: 1px;
    border-width: 0;
    background-color: rgb(255,255,255);
}
.small2{
    grid-row: 2;
    position: relative;
}
.small3{
    width: 50%;
}
.small4{
    width: 50%;
    font-size: 1.2em;
    grid-row:2;
    background-color: rgb(255,255,255);
    color: rgb(0, 0, 0);
}
.medium1{
    position: relative;
    display: flex;
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}
.blueTitle{
    font-size: 19px;
    color: rgb(57, 113, 158);
    margin: 0.5em;
}
.blueText{
    font-size: 1em;
    color: rgb(57, 113, 158);
    font-weight: bold;
    margin: 0.5em;
}
.blackText{
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 1em;
}
.small5{
    grid-row:3;
    overflow: hidden;
    background-color: rgb(95, 17, 0);
    position: relative;
}
.small6{
    grid-row:3;
    width:100%;
    height:100%;
}
.medium2{
    grid-row:3;
    grid-column-start:2;
    grid-column-end: 4;
    background-image: url("Images/img5.png");
}
.divTriangle{
    justify-content: flex-end;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}
.triangle{
    background: transparent;
    width:0px;
    height:0px;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    border-right: 50px solid white;
}
.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:0;
    bottom:0;
    margin-left: 3em;
    margin-bottom: 3em;
}
.fLine{
    background-color: rgba(57, 113, 158, 0.7);
    font-size: 17px;
    margin:0;
    width: 6em;
    padding: 0.5em;
    font-weight: bold;
}
.sLine{
    background-color: rgba(255,255,255,0.7);
    font-size: 17px;
    color: black;
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
    bottom: 0;
}
.container2{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:0;
    bottom:0;
    transition: top ease 1.5s;
}
.whitePartContainer2{
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.7);
    height: 100%;
}
.container2:hover{
    top:0;
}
.sLine2Paragraph{
    display: none;
    margin:0;
}
.container2:hover .sLine2Paragraph{
    display: block;
    font-size: 14px;
    color:black;
    background:rgba(255, 255, 255, 0.7);
    margin:0;
    height: 100%;
}
.fLine2{
    background-color: rgba(57, 113, 158, 0.7);
    font-size: 17px;
    margin:0;
    width: 6em;
    font-weight: bold;
}
.sLine2{
    background-color: rgba(255,255,255,0.7);
    font-size: 17px;
    color: black;
    font-weight: bold;
    margin: 0;
}
#videoLeftDownCorner{
    left: 0;
    top: 0;
    height: 250px;
    width: 100%;
    position: absolute;
}
.divDot{
    position: absolute;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.dot{
    height: 120px;
    width: 120px;
    background-color: rgba(57,113,158,0.7);
    border-radius: 50%;
    display: inline-block;
}
.divPlay{
    position: absolute;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.buttonPlay{
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-style: solid;
    box-sizing: border-box;
    border-width: 30px 0px 30px 70px;
    border-color: transparent transparent transparent white;
    transition: 0.3s;
    margin-left: 1.5em;
}
.buttonPlay:hover{
    opacity: 0.6;
}
.prevNext{
    display: flex;
    width:100%;
    position: absolute;
    z-index: 1;
    align-items: center;
    height: 100%;
}
.prev{
    cursor:pointer;
    font-size:25px;
    padding: 10px;
    margin-right: auto;
    margin-left: 0;
}
.next{
    cursor:pointer;
    margin-left: auto;
    margin-right: 0;
    font-size: 25px;
    padding: 10px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }